{{template "base" .}}
{{define "title"}}Exec into a Container{{end}}
{{define "main"}}
<form action='/containers/{{.ID}}/exec' method='POST'>
    <h1>Exec into container {{.ID}}</h1>
    <div>
        <label>Command:</label>
        <input type='text' name='command'>
    </div>
    <div>
        <input type='submit' value='Exec command'>
    </div>
</form>
{{if .Result}}
<h1>Exit code of command `{{.Cmd}}` is {{.Result.ExitCode}}</h1>
{{if .Result.StdOut}}
<h3>Stdout:</h3>
<p>{{.Result.StdOut}}</p>
{{end}}
{{if .Result.StdErr}}
<h3>Stderr:</h3>
<p>{{.Result.StdErr}}</p>
{{end}}
{{end}}
{{end}}