<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Home - Containerizor</title>
</head>

<body>
    <header>
        <h1><a href='/'>Containerizor</a></h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/containers">My containers</a>
    </nav>
    <main>
    </main>g
</body>

</html>