{{template "base" .}}
{{define "title"}}My Containers{{end}}
{{define "main"}}
<ul>
    {{if .Containers}}
    <table>
        <tr>
            <th>Image</th>
            <th>ID</th>
            <th></th>
        </tr>
        {{range .Containers}}
        <tr>
            <td>{{.Image}}</td>
            <td>{{.ID}}</td>
            <td>
                {{if .Running}}
                <form action="/containers/{{.ID}}/stop" method="POST">
                    <input style="background-color: red;" type="submit" value="Stop">
                </form>
                {{else}}
                <form action="/containers/{{.ID}}/start" method="POST">
                    <input type="submit" value="start">
                </form>
                {{end}}
            </td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>You have no running containers.</p>
    {{end}}
</ul>
{{end}}